<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="4" parallel="tests">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener
			class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<!-- listener class-name="com.test.automation.uiAutomation.customListener.Listener" 
			/ -->
		<listener
			class-name="com.test.automation.uiAutomation.RetryFailedTests.Transformation" />
	</listeners>
	<test name="AuthPageValidation">
		<classes>
			<class
				name="com.test.automation.uiAutomation.AuthPageValidation.SignInValidation" />
			<class
				name="com.test.automation.uiAutomation.AuthPageValidation.SignUpValidation" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
